@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Clinic Way<br />
    Egypt,Cairo,NaserCity<br />
    <abbr title="Phone">P: </abbr>
    122
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@clinic.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@clinic.com</a>
</address>